# Dependencies
node_modules/
__pycache__/
*.pyc
.pytest_cache/

# Python virtual environments
.venv/
venv/
env/

# Environment variables
.env

# Builds
dist/
build/

# Database
*.sqlite3

# IDE / OS
.DS_Store
.vscode/
.idea/